* {
    box-sizing: border-box;
}
h1 {
    font-weight: 300;
}

.section-fst {
    
    padding-top: 9.5rem;
    padding-bottom: 5rem;
}
.phone-screen {
    max-width: 16rem;
}


.circle {
    position: absolute;
    width: 25rem;
}

.circle-scd {
    position: absolute;
    width: 20rem;
    left: 3%;
}

.circle-sm {
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    fill: #2937f0;
    top: 20%;
    right: 13%;
}


.app-btn {
    height: 3rem;
}


.logo {
    height: 3rem;
}

.gradient-bg {
    background-image: linear-gradient(to right, #2937f0, #9f1ae2);
  }